@forward "black-friday";

.select2-container--default {
	.select2-results__option--highlighted[aria-selected],
	.select2-results__option--highlighted[data-selected]{
		background-color: #2563eb!important;
	}
}

// Campaign form scss.
.campaign{
	.pev-form-field{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		border-bottom: 1px solid #f5f5f5;
		margin-bottom: 15px;
		label{
			width: 20%;
		}
		.field-group{
			display: flex;
			flex-direction: column;
			width: 78%;
			p{
				width: 100%;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.form-table {
		.regular-text {
			width: 25em!important;
		}
	}
}

.campaign-progress {
	.progress-label {
		display: flex;
		justify-content: space-between;
		gap: 5px;
	}
	#campaign-progressbar {
		width: 100%;
	}
}

.campaign-products{
	.campaign-product{
		td{
			display: flex;
			gap: 15px;
			border-bottom: 1px solid #f5f5f5;
		}
		.product-thumbnail{
			img{
				width: 60px;
				height: auto;
			}
		}
		.product-title{
			align-self: center;
			display: flex;
			flex-direction: column;
			gap: 10px;
			a{
				text-decoration: none;
			}
		}
		.product-action{
			display: flex;
			gap: 10px;
		}
		&:last-child td{
			border-bottom: none;
		}
	}
}

// Feature promo section.
.wcdm-feature-promo-banner {
	background: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin-top: 20px;
	box-sizing: border-box;
	position: relative;

	> img {
		width: 100%;
		height: auto;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.7);
		transition: opacity 0.3s ease-in-out;

		h3 {
			color: red;
			font-size: 1.5em;
			margin: 0 0 1em;
			text-align: center;
		}
	}
}
