// Product single page
.wc-donation-manager {
	.campaign-progress {
		.progress-label {
			display: flex;
			justify-content: space-between;
			gap: 5px;
		}
		#campaign-progressbar {
			width: 100%;
		}
	}
	.suggested-amounts {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.campaign-amount {
		display: flex;
		flex-direction: row;
		margin: 15px 0;
		label {
			align-self: center;
		}
		#donation_amount {
			align-self: center;
		}
	}
}
// Cart page
.donation-product-price {
	display: flex;
	flex-direction: row;
	label {
		align-self: center;
	}
	#donation_amount {
		align-self: center;
	}
}
